body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}

*{
    box-sizing: border-box;
}

#header{
    background-color: rgb(109, 179, 4);
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    padding: 10px;
}

.menu-bar>ul{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}

.header-menu{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
}

.first{
    padding: 12px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.header-menu .menu-bar>ul>li>a{
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5px 20px 5px 5px;
    display: block;
}

.second{
    padding: 20px;
    border-radius: 10px solid white;
    text-align: end
}

.menu-bar ul li{
    position: relative;
}

.submenu{
    position: absolute;
    visibility:hidden;
    opacity:0;
    width: 200px;
    background-color: rgb(109, 179, 4, 0.7);
    top: 45px;
    left: -10px;
}

.submenu li{
    display: block;
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
}

.submenu li a{
    border: none;
    color: black;
}

.menu-bar ul li:hover>.submenu{
    visibility: visible;
    opacity: 1;
}

.menu-bar ul li:hover, .menu-bar ul li:hover>a{
    background-color: rgb(109, 179, 4);
    color: rgb(255, 255, 255);
}

.menu-bar .submenu .submenu{
    display: block;
    left: 200px;
    top: 10px;
    background-color: rgb(98, 163, 0);
}